@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


    

body {
 /* background: #eee; */
  background: #c9d6e6;
	box-sizing: border-box;
	padding-top: 10vh;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  line-height: 1.5;
  max-width: 60rem;
  margin: 0 auto;
  font-size: 112%;
  text-align: center;
}


.responsive {
  width: 100%;
  max-width: 100px;
  height: auto;
}

img {
width: 100%;
height: auto;
}

h1{
  background: -webkit-linear-gradient(right, #EB8038, #F284FE);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  margin:1rem;
  color: black;
}

em {
letter-spacing: 2px;
}




body::-webkit-scrollbar {
  width: 1rem;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px white;
}
 
body::-webkit-scrollbar-thumb {
  background-color: white;
}

/**
 * Tabs
 */
 .tabs {
	display: flex;
	flex-wrap: wrap; 
}
.tabs label {
	order: 1;
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
  background: #ccdbed;
  font-weight: bold;
  transition: background ease 0.2s;
}
.tabs .tab {
  order: 99;
  flex-grow: 1;
	width: 100%;
	display: none;
  padding: 1rem;
  background: #fff;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

/**
 * Generic Styling
*/



@media screen and (max-width: 480px) {}


.reloadb {
 
  right: 20px;
  top: 85%;
  max-width: 8%;
  z-index: 9999;
 
  }